.portfolio {
  padding: 100px 0 0;
  box-sizing: border-box;
}

.portfolio__title {
  max-width: 250px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #8b8b8b;
}

.portfolio__works {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 50px 0 0;
  row-gap: 19px;
  padding: 0;
}

.portfolio__work {
  padding: 0 0 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: opacity .3s ease;
}

.portfolio__link:hover {
  opacity: .6;
}

.portfolio__work:last-of-type {
  padding: 0;
  border: none;
}

.portfolio__name {
  max-width: 880px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  color: #fff;
  letter-spacing: -0.04em;
}

.portfolio__arrow {
  width: 19px;
  height: 54px;
  margin-right: 6px;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 89px 0 0;
  }
  .portfolio__works {
    row-gap: 21px;
  }
  .portfolio__work {
    padding-bottom: 18px;
  }
  .portfolio__name {
    font-size: 28px;
    line-height: 1.79;
  }
  .portfolio__arrow {
    width: 18px;
    height: 39px;
    margin-right: 4px;
  }
}

@media screen and (max-width: 520px) {
  .portfolio {
    padding: 70px 0 0;
  }
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio__works {
    margin-top: 40px;
    row-gap: 19px;
  }
  .portfolio__work {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  .portfolio__name {
    max-width: 250px;
    font-size: 18px;
    line-height: 1.56;
  }
  .portfolio__arrow {
    width: 13px;
    height: 11px;
    margin-right: 4px;
  }
}