.title {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 520px) {
  .title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}