.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 520px) {
  .login {
    padding: 56px 0 30px;
    box-sizing: border-box;
  }
}